<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="ORLAU's working hour record application" />
        <title>ORLAU WHR</title>
        <link rel="stylesheet" href="/stylesheets/styles.css">
        <base href= "http://localhost:3001"/>
    </head>
    
    <body>
        <!--<header>ORLAU</header>-->
        <div class="wrapper">
            <div class="title">
                <h1>Something has gone wrong</h1>
            </div>
        </div>
        <footer class="footer">ORLAU toolkit version 0 : For general enquiries please contact timothy.arthur1@nhs.net</footer>
    </body>
</html>

